body {
    /*overflow-x: hidden;*/
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    font-family: Helion_text;
}

.block_separator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block_separ{
    width: 0%;
}


.invite_block {
    width: 100%;
    background-image: url(images/back.png);
    background-size: 120%;
    background-position-y: -10px;
}

.container {
    width: 100%;
}

.invite_cap {
    width: 100%;
}

.invite_cap_cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.invite_gate, .invite_block_text {
    width: 50%;
}

.invite_gate {
    position: relative;
}

.img_gate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.img_phone {
    z-index: 2;
    width: 13%;
    margin-top: 41%;
    margin-left: 34%;
    /*width: 65px;*/
    /*height: 130px;*/
}

.angel {
    width: 50%;
}

.img_angel {
    width: 120%;
    margin-left: 50%;
}

.invite_block_subtitle {
    position: relative;
}

.img_subtitle {
    width: 70%;
    margin-top: -10%;
    position: absolute;
    right: 0;
    /*margin-left: 90px;*/
}

.invite_block_title {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-left: -30px;
}


.img_heaven {
    position: absolute;
    right: 0;
    width: 100%;
}

.who_we_blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25%;
}

.who_we_title {
    padding-left: 50px;
    width: 50%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.img_tv {
    height: 125px;
    padding-right: 20px;
}

.img_who_we_title {
    width: 100%;
}

.img_planet {
    width: 100%;
    margin-top: -10%;
    margin-right: -65px;
}

.who_we_text {
    font-family: Helion_text;
    width: 100%;
    padding-left: 60px;
    margin-top: 10px;
    font-size: 25px;
}

.who_we_slogan {
    margin-top: -20%;
}

.who_we_slogan_block {
    text-align: center;
    width: 100%;
}

.img_frane {
    margin: 0 auto;
    width: 50%;
}

p.slogan_text {
    font-size: 26px;
    margin-top: -27%;
}


.who_we_table_block {
    /*padding-top: 50px;*/
    background-image: url(images/gradient.png);
    background-size: 100%;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;
}


.img_table {
    /*margin: 5% 0 0 10%;*/
    padding-left: 8%;
    width: 90%;
}

.cont_inside_table_text {
    position: absolute;
    top: 37%;
    left: 9%;
    width: 80%;
    text-align: center;
}

.table_text {
    /*margin: 0 auto;*/
    width: 100%;
    /*text-align: center;*/
    font-family: Helion_text;
    font-size: 34px;
    /*margin-top: -245px;*/
}

.cont_inside_table_btn {
    position: absolute;
    bottom: 12%;
    left: 38%;
    width: 23%;
    height: 81px;
}

.table_btn_play {
    display: none;
    /*margin: 0 auto;*/
    width: 100%;
    height: 100%;
    border: 0;
    /*margin-top: 37px;*/
}

.cont_inside_table_gif_man {
    position: absolute;
    bottom: 50px;
    left: 8%;
    width: 9%;
    height: auto;
}

.gif_man {
    width: 100%;
    height: auto;
    /*margin-left: 80px;*/
    /*margin-top: -47px;*/
}

.cont_inside_table_gif_pointer {
    position: absolute;
    bottom: 50px;
    left: 58%;

    width: 5%;
    height: auto;
}

.gif_pointer {
    width: 100%;
    height: auto;
    /*margin-left: 58vw;*/
    /*margin-top: -50px;*/
}

.img_line {
    /*padding-top: 25px;*/
    width: 100%;
    height: 25px;
}

.products_page {
    background-image: url(images/back.png);
    background-size: 120%;
    padding-bottom: 100px;
}


.products_blocks {
    margin: 25px 50px 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.products_block_logo {
    width: 30%;
    text-align: center;
}

.img_tv_2 {
    width: 100%;
}

.products_block_text {
    font-size: 20px;
    width: 70%;
}

.product_title {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.product_title_text {
    width: 55%;
    text-align: left;
}

.img_prod {
    width: 80%;
}

.product_title_images {
    display: flex;
    align-items: center;
    bottom: 0;
    width: 25%;
}

.img_cir {
    width: 80%;
    height: 50%;
}

.quiz_block {
    margin-top: 25px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quiz_photo {
    width: 25%;
}

.img_quiz_logo {
    width: 93%;
}

.quiz_text {
    width: 65%;
}

.quiz_text_title {
    /*text-transform: uppercase;*/
    font-family: Helion;
    font-size: 30px;
}

.quiz_text_text {
    font-size: 19px;
    font-family: Helion_text;
    width: 90%;
}

.quiz_text_btns {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aps_btn, .gp_btn {
    width: 45%;
    height: 50px;
    border: 0;
}

.aps_btn:hover, .gp_btn:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 1s;
}

.img_circles {
    position: absolute;
    right: 0;
    height: 200px;
    /*transform: rotate(-8deg);*/
    /*margin-right: -25px;*/
    margin-right: 0px!important;
    margin-top: -100px;
    margin-bottom: 100px;
}


.kontrnastup_block {
    padding: 0 75px;
    margin-top: 25px;
}

.kontrnastup_text {
    width: 100%;
}

.kontr_text_title {
    font-size: 30px;
    font-family: Helion;
}

.kontr_text_text {
    font-family: Helion_text;
    width: 100%;
    font-size: 19px;
}

.kontrnastup_photo {
    width: 100%;
    text-align: center;
}

.img_kontr {
    width: 70%;
}

.sky_line {
    width: 100%;
}

.img_sky_line {
    margin-top: -60px;
    width: 100%;
    height: 75px;
}

.our_lab {
    background-image: url(images/back.png);
    background-size: 100%;
    padding-bottom: 80px;
}

.our_lab_block {
    width: 90%;
    padding-top: 75px;
    padding-left: 50px;
}

.our_lab_img {
    width: 65%;
}

.lab_text {
    margin-left: 13px;
    width: 90%;
    font-size: 19px;
    font-family: Helion_text;
}

.lab_subtext {
    width: 90%;
    margin-left: 13px;
    margin-top: 20px;
    font-size: 19px;
    font-family: Helion;
    text-transform: uppercase;
}

.tables_block {
    width: 100%;
    text-align: center;
}

.img_wind_pc {
    margin-top: -75px;
    width: 100%;
}

.footer_img {
    width: 100%;
    text-align: center;
}

.img_cletka {
    width: 100%;
    margin-top: -100px;
}

.footer_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -80px;
    padding-left: 150px;
    font-size: 19px;
    font-family: Helion_text;
}

.footer_text_adress {
    width: 30%;
}

.footer_text_prop {
    margin-left: 50px;
    width: 70%;
}

@media (min-width: 1441px) {

    .block_separ{
        width: 25%;
    }

    .img_angel {
        width: 135%;
        margin-left: 45%;
    }

    .img_subtitle {
        width: 100%;
        margin-top: -28%;
    }

    .invite_block_title {
        margin-top: 15px;
        margin-left: -5px !important;
    }

    .who_we_blocks {
        margin-top: 25%;
    }

    .who_we_title {
        padding-left: 110px;
    }

    .img_tv {
        height: 300px;
        padding-right: 20px;
    }

    .img_who_we_title {
        height: 120%;
        width: 130%;
        padding-top: 15%;
    }

    .img_planet {
        width: 100%;
        margin-top: -25%;
        margin-right: -5%;
    }

    .who_we_text {
        width: 120%;
        padding-left: 110px;
        margin-top: 25px;
        font-size: 38px;
    }

    .who_we_slogan {
        margin-top: -13%;
    }

    p.slogan_text {
        margin-top: -25%;
        font-size: 35px;
    }

    .who_we_table_block {
        padding-top: 200px;
    }

    .cont_inside_table_text {
        top: 45%;
    }

    .table_text {
        font-size: 36px;
    }

    .cont_inside_table_btn {
        bottom: 9%;
    }

    .table_btn_play {
        width: 100%;
        height: 65px;
    }


    .products_page {
        padding-bottom: 135px;
    }

    .img_line {
        height: 25px;
    }

    .products_blocks {
        margin: 50px 110px 0 110px;
    }

    .products_block_text {
        padding-left: 35px;
        font-size: 40px;
    }

    .product_title {
        margin-top: 15px;
    }

    .product_title_text {
        width: 65%;
    }

    .product_title_images {
        width: 30%;
    }

    .img_cir {
        width: 85%;
        height: 60%;
    }

    .quiz_block {
        margin-top: 15px;
        padding: 0 110px;
    }

    .quiz_photo {
        width: 25%;
    }

    .img_quiz_logo {
        width: 100%;
    }

    .quiz_text {
        width: 70%;
    }

    .quiz_text_title {
        margin-top: 0px;
        font-size: 75px;
    }

    .quiz_text_text {
        font-size: 55px;
    }

    .quiz_text_btns {
        margin-top: 35px;
    }

    .aps_btn, .gp_btn {
        height: 115px;
    }

    .aps_btn:hover, .gp_btn:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition-duration: 1s;
    }

    .img_circles {
        height: 350px;
        margin-top: -30%;
        margin-right: -20px;
    }

    .kontrnastup_block {
        padding: 0 110px;
        margin-top: 25px;
    }

    .kontrnastup_text {
        width: 100%;
    }

    .kontr_text_title {
        font-size: 75px;
    }

    .kontr_text_text {
        font-size: 55px;
    }

    .kontrnastup_photo {
        width: 100%;
        text-align: center;
    }

    .img_kontr {
        width: 70%;
    }

    .img_sky_line {
        margin-top: -110px;
        height: 150px;
    }

    .our_lab {
        padding-bottom: 90px;
    }

    .our_lab_block {
        padding-top: 110px;
        padding-left: 110px;
    }

    .our_lab_img {
        width: 90%;
    }

    .lab_text {
        font-size: 40px;
    }

    .lab_subtext {
        margin-top: 10px;
        font-size: 45px;
    }

    .img_wind_pc {
        margin-top: -8%;
        width: 100%;
    }

    .img_cletka {
        margin-top: -10%;
    }

    .footer_text {
        margin-top: -10%;
        padding-left: 19%;
        font-size: 35px;
    }

}

@media (max-width: 1440px) {

    .block_separ{
        width: 25%;
    }

    .img_angel {
        width: 150%;
        margin-left: 35%;
    }

    .img_subtitle {
        width: 100%;
        margin-top: -28%;
    }

    .invite_block_title {
        margin-top: 20px;
        margin-left: -5px !important;
    }

    .who_we_blocks {
        margin-top: 25%;
    }

    .who_we_title {
        padding-left: 65px;
    }

    .img_tv {
        height: 200px;
        padding-right: 10px;
    }

    .img_who_we_title {
        height: 120%;
        width: 130%;
        padding-top: 15%;
    }

    .img_planet {
        width: 100%;
        margin-top: -25%;
        margin-right: -5%;
    }

    .who_we_text {
        width: 120%;
        padding-left: 65px;
        margin-top: 25px;
        font-size: 25px;
    }

    .who_we_slogan {
        margin-top: -13%;
    }

    p.slogan_text {
        margin-top: -25%;
        font-size: 28px;
    }

    .who_we_table_block {
        padding-top: 120px;
    }

    .cont_inside_table_text {
        top: 42%;
    }

    .table_text {
        font-size: 24px;
    }

    .cont_inside_table_btn {
        bottom: 9%;
    }

    .table_btn_play {
        width: 100%;
        height: 60px;
    }


    .products_page {
        padding-bottom: 95px;
    }

    .img_line {
        height: 25px;
    }

    .products_blocks {
        margin: 35px 65px 0 65px;
    }

    .products_block_text {
        padding-left: 25px;
        font-size: 28px;
    }

    .product_title {
        margin-top: 15px;
    }

    .product_title_text {
        width: 65%;
    }

    .product_title_images {
        width: 30%;
    }

    .img_cir {
        width: 85%;
        height: 60%;
    }

    .quiz_block {
        margin-top: 15px;
        padding: 0 65px;
    }

    .quiz_photo {
        width: 25%;
    }

    .img_quiz_logo {
        width: 100%;
    }

    .quiz_text {
        width: 70%;
    }

    .quiz_text_title {
        margin-top: 0px;
        font-size: 55px;
    }

    .quiz_text_text {
        font-size: 35px;
    }

    .quiz_text_btns {
        margin-top: 35px;
    }

    .aps_btn, .gp_btn {
        height: 85px;
    }

    .aps_btn:hover, .gp_btn:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition-duration: 1s;
    }

    .img_circles {
        height: 260px;
        margin-top: -32%;
        margin-right: -15px;
    }

    .kontrnastup_block {
        padding: 0 65px;
        margin-top: 25px;
    }

    .kontrnastup_text {
        width: 100%;
    }

    .kontr_text_title {
        font-size: 55px;
    }

    .kontr_text_text {
        font-size: 35px;
    }

    .kontrnastup_photo {
        width: 100%;
        text-align: center;
    }

    .img_kontr {
        width: 70%;
    }

    .img_sky_line {
        margin-top: -80px;
        height: 100px;
    }

    .our_lab {
        padding-bottom: 40px;
    }

    .our_lab_block {
        padding-top: 25px;
        padding-left: 65px;
    }

    .our_lab_img {
        width: 90%;
    }

    .lab_text {
        font-size: 28px;
    }

    .lab_subtext {
        margin-top: 10px;
        font-size: 32px;
    }

    .img_wind_pc {
        margin-top: -8%;
        width: 100%;
    }

    .img_cletka {
        margin-top: -10%;
    }

    .footer_text {
        margin-top: -11%;
        padding-left: 24%;
        font-size: 25px;
    }

}

@media (max-width: 1260px) {

    .block_separ{
        width: 25%;
    }

    .img_angel {
        width: 150%;
        margin-left: 35%;
    }

    .img_subtitle {
        width: 100%;
        margin-top: -28%;
    }

    .invite_block_title {
        margin-top: 20px;
        margin-left: -5px !important;
    }

    .who_we_blocks {
        margin-top: 25%;
    }

    .who_we_title {
        padding-left: 65px;
    }

    .img_tv {
        height: 175px;
        padding-right: 10px;
    }

    .img_who_we_title {
        /*height: 90px;*/
        height: 120%;
        width: 130%;
        padding-top: 15%;
    }

    .img_planet {
        width: 100%;
        margin-top: -25%;
        margin-right: -5%;
    }

    .who_we_text {
        width: 120%;
        padding-left: 65px;
        margin-top: 25px;
        font-size: 21px;
    }

    .who_we_slogan {
        margin-top: -13%;
    }

    p.slogan_text {
        margin-top: -25%;
        font-size: 24px;
    }

    .who_we_table_block {
        padding-top: 110px;
    }

    .cont_inside_table_text {
        top: 40%;
    }

    .table_text {
        font-size: 20px;
    }

    .cont_inside_table_btn {
        bottom: 9%;
    }

    .table_btn_play {
        width: 100%;
        height: 45px;
        margin-top: 15px;
    }


    .products_page {
        padding-bottom: 95px;
    }

    .img_line {
        height: 25px;
    }

    .products_blocks {
        margin: 25px 65px 0 65px;
    }

    .products_block_text {
        padding-left: 25px;
        font-size: 24px;
    }

    .product_title {
        margin-top: 15px;
    }

    .product_title_text {
        width: 65%;
    }

    .product_title_images {
        width: 30%;
    }

    .img_cir {
        width: 85%;
        height: 60%;
    }

    .quiz_block {
        margin-top: 15px;
        padding: 0 65px;
    }

    .quiz_photo {
        width: 25%;
    }

    .img_quiz_logo {
        width: 100%;
    }

    .quiz_text {
        width: 70%;
    }

    .quiz_text_title {
        margin-top: 0px;
        font-size: 47px;
    }

    .quiz_text_text {
        font-size: 30px;
    }

    .quiz_text_btns {
        margin-top: 30px;
    }

    .aps_btn, .gp_btn {
        height: 70px;
    }

    .aps_btn:hover, .gp_btn:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition-duration: 1s;
    }

    .img_circles {
        height: 225px;
        margin-top: -32%;
        margin-right: -12px;
    }

    .kontrnastup_block {
        padding: 0 65px;
        margin-top: 25px;
    }

    .kontrnastup_text {
        width: 100%;
    }

    .kontr_text_title {
        font-size: 47px;
    }

    .kontr_text_text {
        font-size: 30px;
    }

    .kontrnastup_photo {
        width: 100%;
        text-align: center;
    }

    .img_kontr {
        width: 70%;
    }

    .img_sky_line {
        margin-top: -80px;
        height: 100px;
    }

    .our_lab {
        padding-bottom: 40px;
    }

    .our_lab_block {
        padding-top: 25px;
        padding-left: 65px;
    }

    .our_lab_img {
        width: 90%;
    }

    .lab_text {
        font-size: 25px;
    }

    .lab_subtext {
        margin-top: 10px;
        font-size: 27px;
    }

    .img_wind_pc {
        margin-top: -8%;
        width: 100%;
    }

    .img_cletka {
        margin-top: -10%;
    }

    .footer_text {
        margin-top: -11%;
        padding-left: 21%;
        font-size: 21px;
    }

}

@media (max-width: 990px) {

    .img_angel {
        width: 150%;
        margin-left: 35%;
    }

    .img_subtitle {
        width: 85%;
        margin-top: -20%;
    }

    .invite_block_title {
        margin-top: 10px;
        margin-left: -5px !important;
    }

    .who_we_blocks {
        margin-top: 25%;
    }

    .who_we_title {
        padding-left: 50px;
    }

    .img_tv {
        height: 130px;
        padding-right: 10px;
    }

    .img_who_we_title {
        /*height: 90px;*/
        height: 120%;
        width: 130%;
        padding-top: 15%;
    }

    .img_planet {
        width: 100%;
        margin-top: -25%;
        margin-right: -5%;
    }

    .who_we_text {
        width: 110%;
        padding-left: 50px;
        margin-top: 10px;
        font-size: 17px;
    }

    .who_we_slogan {
        margin-top: -10%;
    }

    p.slogan_text {
        font-size: 19px;
        margin-top: -26%;
    }

    .who_we_table_block {
        padding-top: 50px;
        /*padding-bottom: 100px;*/
    }

    .img_table {
        /*margin: 5% 0 0 7%;*/
    }

    .table_text {
        font-size: 16px;
        /*margin-top: -28%;*/
    }

    .cont_inside_table_btn {
        bottom: 6%;
    }

    .table_btn_play {
        width: 100%;
        height: 36px;
    }

    .products_page {
        padding-bottom: 70px;
    }

    .img_line {
        height: 25px;
    }

    .products_blocks {
        margin: 25px 50px 0 50px;
    }

    .products_block_text {
        padding-left: 25px;
        font-size: 20px;
    }

    .product_title {
        margin-top: 15px;
    }

    .product_title_text {
        width: 65%;
    }

    .product_title_images {
        width: 30%;
    }

    .img_cir {
        width: 85%;
        height: 60%;
    }

    .quiz_block {
        margin-top: 15px;
        padding: 0 50px;
    }

    .quiz_photo {
        width: 25%;
    }

    .img_quiz_logo {
        width: 100%;
    }

    .quiz_text {
        width: 70%;
    }

    .quiz_text_title {
        margin-top: 0px;
        font-size: 40px;
    }

    .quiz_text_text {
        font-size: 24px;
    }

    .quiz_text_btns {
        margin-top: 20px;
    }

    .aps_btn, .gp_btn {
        height: 55px;
    }

    .aps_btn:hover, .gp_btn:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition-duration: 1s;
    }

    .img_circles {
        height: 175px;
        margin-top: -28%;
        margin-right: -5px;
    }

    .kontrnastup_block {
        padding: 0 50px;
        margin-top: 25px;
    }

    .kontrnastup_text {
        width: 100%;
    }

    .kontr_text_title {
        font-size: 40px;
    }

    .kontr_text_text {
        font-size: 24px;
    }

    .kontrnastup_photo {
        width: 100%;
        text-align: center;
    }

    .img_kontr {
        width: 70%;
    }

    .img_sky_line {
        margin-top: -50px;
        height: 80px;
    }

    .our_lab {
        padding-bottom: 40px;
    }

    .our_lab_block {
        padding-top: 25px;
        padding-left: 50px;
    }

    .our_lab_img {
        width: 90%;
    }

    .lab_text {
        font-size: 23px;
    }

    .lab_subtext {
        margin-top: 10px;
        font-size: 25px;
    }

    .img_wind_pc {
        margin-top: -8%;
        width: 100%;
    }

    .img_cletka {
        margin-top: -10%;
    }

    .footer_text {
        margin-top: -12%;
        padding-left: 18%;
        font-size: 18px;
    }

}

@media (max-width: 770px) {
    .img_angel {
        width: 150%;
        margin-left: 35%;
    }

    .img_subtitle {
        width: 93%;
        margin-top: -25%;
    }

    .invite_block_title {
        margin-top: 10px;
        margin-left: -5px !important;
    }

    .who_we_blocks {
        margin-top: 25%;
    }

    .who_we_title {
        padding-left: 35px;
    }

    .img_tv {
        height: 90px;
        padding-right: 10px;
    }

    .img_who_we_title {
        /*height: 90px;*/
        height: 120%;
        width: 130%;
        padding-top: 15%;
    }

    .img_planet {
        width: 100%;
        margin-top: -25%;
        margin-right: -5%;
    }

    .who_we_text {
        width: 110%;
        padding-left: 35px;
        margin-top: 10px;
        font-size: 16px;
    }

    .who_we_slogan {
        margin-top: -10%;
    }

    .img_frane {
        width: 64%;
    }

    p.slogan_text {
        font-size: 16px;
        margin-top: -30%;
    }

    .who_we_table_block {
        padding-top: 90px;
    }

    .cont_inside_table_text {
        top: 43%;
    }

    .table_text {
        font-size: 11px;
    }

    .cont_inside_table_btn {
        bottom: 4%;
    }

    .table_btn_play {
        width: 100%;
        height: 30px;
    }


    .products_page {
        padding-bottom: 70px;
    }

    .img_line {
        height: 15px;
    }

    .products_blocks {
        margin: 15px 35px 0 35px;
    }

    .products_block_text {
        padding-left: 15px;
        font-size: 15px;
    }

    .product_title {
        margin-top: 15px;
    }

    .product_title_text {
        width: 65%;
    }

    .product_title_images {
        width: 30%;
    }

    .img_cir {
        width: 85%;
        height: 60%;
    }

    .quiz_block {
        margin-top: 15px;
        padding: 0 35px;
    }

    .quiz_photo {
        width: 25%;
    }

    .img_quiz_logo {
        width: 100%;
    }

    .quiz_text {
        width: 70%;
    }

    .quiz_text_title {
        margin-top: 0px;
        font-size: 26px;
    }

    .quiz_text_text {
        font-size: 14px;
    }

    .quiz_text_btns {
        margin-top: 20px;
    }

    .aps_btn, .gp_btn {
        height: 35px;
    }

    .aps_btn:hover, .gp_btn:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition-duration: 1s;
    }

    .img_circles {
        height: 125px;
        margin-top: -37%;
        margin-right: -5px;
    }

    .kontrnastup_block {
        padding: 0 35px;
        margin-top: 15px;
    }

    .kontrnastup_text {
        width: 100%;
    }

    .kontr_text_title {
        font-size: 26px;
    }

    .kontr_text_text {
        font-size: 14px;
    }

    .kontrnastup_photo {
        width: 100%;
        text-align: center;
    }

    .img_kontr {
        width: 70%;
    }

    .img_sky_line {
        margin-top: -50px;
        height: 60px;
    }

    .our_lab {
        padding-bottom: 40px;
    }

    .our_lab_block {
        padding-top: 25px;
        padding-left: 20px;
    }

    .our_lab_img {
        width: 90%;
    }

    .lab_text {
        font-size: 14px;
    }

    .lab_subtext {
        margin-top: 10px;
        font-size: 15px;
    }

    .img_wind_pc {
        margin-top: -10%;
        width: 100%;
    }

    .img_cletka {
        margin-top: -10%;
    }

    .footer_text {
        margin-top: -8%;
        padding-left: 15%;
        font-size: 13px;
    }
}

@media (max-width: 505px) {

    .img_angel {
        width: 150%;
        margin-left: 35%;
        /*height: 40%;*/
    }

    .img_subtitle {
        width: 85%;
        margin-top: -20%;
    }

    .invite_block_title {
        margin-top: 10px;
        margin-left: -5px !important;
    }

    .who_we_blocks {
        margin-top: 25%;
    }

    .who_we_title {
        padding-left: 20px;
    }

    .img_tv {
        height: 90px;
        padding-right: 10px;
    }

    .img_who_we_title {
        /*height: 90px;*/
        height: 120%;
        width: 130%;
        padding-top: 25%;
    }

    .img_planet {
        width: 90%;
        margin-top: -25%;
        /*margin-right: -10%;*/
        margin-left: 10%;
    }

    .who_we_text {
        width: 110%;
        padding-left: 20px;
        margin-top: 10px;
        font-size: 13px;
    }

    .who_we_block_img {
        margin-top: 25px;
    }

    .who_we_slogan_block{
        margin-top: 50px;
    }

    .img_frane {
        width: 60%;
    }

    .who_we_slogan {
        margin-top: -10%;
    }

    p.slogan_text {
        font-size: 11px;
        margin-top: -29%;
    }

    .who_we_table_block {
        padding-top: 50px;
        /*padding-bottom: 50px;*/
    }

    .cont_inside_table_text {
        top: 39%;
    }

    .table_text {
        font-size: 8px;
    }

    .cont_inside_table_btn {
        bottom: 0%;
    }

    .table_btn_play {
        width: 100%;
        height: 21px;
    }

    .products_page {
        padding-bottom: 70px;
    }

    .img_line {
        height: 15px;
    }

    .products_blocks {
        margin: 10px 20px 0 20px;
    }

    .products_block_text {
        padding-left: 15px;
        font-size: 13px;
    }

    .product_title {
        margin-top: 15px;
    }

    .product_title_text {
        width: 65%;
    }

    .product_title_images {
        width: 30%;
    }

    .img_cir {
        width: 85%;
        height: 60%;
    }

    .quiz_block {
        margin-top: 15px;
        padding: 0 20px;
    }

    .quiz_photo {
        width: 25%;
    }

    .img_quiz_logo {
        width: 100%;
    }

    .quiz_text {
        width: 70%;
    }

    .quiz_text_title {
        margin-top: 0px;
        font-size: 25px;
    }

    .quiz_text_text {
        font-size: 12px;
    }

    .quiz_text_btns {
        margin-top: 20px;
    }

    .aps_btn, .gp_btn {
        height: 35px;
    }

    .aps_btn:hover, .gp_btn:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition-duration: 1s;
    }

    .img_circles {
        height: 125px;
        margin-top: -38%;
        margin-right: -5px;
    }

    .kontrnastup_block {
        padding: 0 20px;
        margin-top: 15px;
    }

    .kontrnastup_text {
        width: 100%;
    }

    .kontr_text_title {
        font-size: 24px;
    }

    .kontr_text_text {
        font-size: 12px;
    }

    .kontrnastup_photo {
        width: 100%;
        text-align: center;
    }

    .img_kontr {
        width: 70%;
    }

    .img_sky_line {
        margin-top: -50px;
        height: 60px;
    }

    .our_lab {
        padding-bottom: 20px;
    }

    .our_lab_block {
        padding-top: 35px;
        padding-left: 20px;
    }

    .our_lab_img {
        width: 90%;
    }

    .lab_text {
        font-size: 13px;
    }

    .lab_subtext {
        margin-top: 10px;
        font-size: 15px;
    }

    .img_wind_pc {
        margin-top: -7%;
        width: 100%;
    }

    .img_cletka {
        margin-top: -10%;
    }

    .footer_text {
        margin-top: -8%;
        padding-left: 15%;
        font-size: 13px;
    }
}

@media (max-width: 390px) {

    .img_angel {
        width: 150%;
        margin-left: 35%;
    }

    .img_subtitle {
        width: 85%;
        margin-top: -25%;
    }

    .invite_block_title {
        margin-top: 5px;
        margin-left: -5px !important;
    }

    .who_we_blocks {
        margin-top: 25%;
    }

    .who_we_title {
        padding-left: 10px;
    }

    .img_tv {
        height: 50px;
        padding-right: 10px;
    }

    .img_who_we_title {
        height: 110%;
        width: 120%;
        padding-top: 25%;
    }

    .img_planet {
        width: 100%;
        margin-top: -45%;
        margin-right: -5%;
    }

    .who_we_text {
        width: 100%;
        padding-left: 10px;
        margin-top: 5px;
        font-size: 7px;
    }

    .who_we_block_img {
        margin-top: 25px;
    }

    .img_frane {
        width: 60%;
    }

    .who_we_slogan_block{
        margin-top: 25px;
    }

    .who_we_slogan {
        margin-top: -10%;
    }

    p.slogan_text {
        font-size: 7px;
        margin-top: -29%;
    }

    .who_we_table_block {
        padding-top: 70px;
        padding-bottom: 25px;
    }

    .cont_inside_table_text {
        top: 45%;
    }

    .table_text {
        font-size: 5px;
    }

    .cont_inside_table_btn {
        bottom: -12%;
    }

    .table_btn_play {
        width: 100%;
        height: 10px;
    }

    .products_page {
        padding-bottom: 20px;
        background-size: 115%;
    }

    .cont_inside_table_gif_man{
        bottom: 25px;
    }

    .cont_inside_table_gif_pointer{
        bottom: 25px;
    }

    .img_line {
        height: 15px;
    }

    .products_blocks {
        margin: 5px 10px 0 10px;
    }

    .products_block_text {
        padding-left: 15px;
        font-size: 7px;
    }

    .product_title {
        margin-top: 15px;
    }

    .product_title_text {
        width: 65%;
    }

    .product_title_images {
        width: 30%;
    }

    .img_cir {
        width: 85%;
        height: 60%;
    }

    .quiz_block {
        margin-top: 15px;
        padding: 0 10px;
    }

    .quiz_photo {
        width: 25%;
    }

    .img_quiz_logo {
        width: 100%;
    }

    .quiz_text {
        width: 70%;
    }

    .quiz_text_title {
        margin-top: 0px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .quiz_text_text {
        font-size: 7px;
    }

    .quiz_text_btns {
        margin-top: 10px;
    }

    .aps_btn, .gp_btn {
        height: 10px;
    }

    .aps_btn:hover, .gp_btn:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition-duration: 1s;
    }

    .img_circles {
        height: 70px;
        margin-top: -44%;
        margin-right: -5px;
    }

    .kontrnastup_block {
        padding: 0 10px;
        margin-top: 5px;
    }

    .kontrnastup_text {
        width: 100%;
    }

    .kontr_text_title {
        font-size: 15px;
    }

    .kontr_text_text {
        font-size: 7px;
    }

    .kontrnastup_photo {
        width: 100%;
        text-align: center;
    }

    .img_kontr {
        width: 70%;
    }

    .img_sky_line {
        margin-top: -16px;
        height: 20px;
    }

    .our_lab {
        padding-bottom: 20px;
    }

    .our_lab_block {
        padding-top: 10px;
        padding-left: 10px;
    }

    .our_lab_img {
        width: 90%;
    }

    .lab_text {
        font-size: 7px;
    }

    .lab_subtext {
        margin-top: 10px;
        font-size: 9px;
    }

    .img_wind_pc {
        margin-top: -3%;
        width: 100%;
    }

    .img_cletka {
        margin-top: -10%;
    }

    .footer_text {
        margin-top: -15%;
        padding-left: 11%;
        font-size: 6px;
    }

}

/*.invite_block {*/
/*    !*height: 180vh;*!*/
/*    width: 100vw;*/
/*    background-image: url(images/back.png);*/
/*    background-size: 120%;*/
/*    background-position-y: -10px;*/
/*    !*padding-bottom: 50px;*!*/
/*}*/

/*.container {*/
/*    !*height: 100%;*!*/
/*    width: 100%;*/
/*}*/

/*.invite_cap {*/
/*    width: 100%;*/
/*    !*height: 47%;*!*/
/*}*/


/*.invite_cap_cont {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/

/*.invite_gate, .invite_block_text {*/
/*    !*height: 100%;*!*/
/*    width: 50%;*/
/*}*/

/*.invite_gate {*/
/*    position: relative;*/
/*}*/


/*.img_gate {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    z-index: 1;*/
/*}*/

/*.img_phone {*/
/*    z-index: 2;*/
/*    width: 13%;*/
/*    margin-top: 41%;*/
/*    margin-left: 34%;*/
/*    !*width: 65px;*!*/
/*    !*height: 130px;*!*/
/*}*/

/*.angel {*/
/*    width: 50%;*/
/*}*/

/*.img_angel {*/
/*    width: 120%;*/
/*    margin-left: 50%;*/
/*    !*height: 40%;*!*/
/*}*/

/*.invite_block_subtitle {*/
/*    position: relative;*/
/*}*/

/*.img_subtitle {*/
/*    width: 70%;*/
/*    margin-top: -10%;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    !*margin-left: 90px;*!*/
/*}*/

/*.invite_block_title {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    margin-top: 30px !important;*/
/*    margin-left: -30px !important;*/
/*}*/

/*.img_heaven {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    width: 100%;*/
/*}*/


/*.who_we_blocks {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    margin-top: 25%;*/
/*}*/

/*.who_we_block_text {*/
/*    margin-left: -10px;*/
/*}*/

/*.who_we_title {*/
/*    padding-left: 60px;*/
/*    width: 50%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*justify-content: space-between;*!*/
/*}*/

/*.img_tv {*/
/*    height: 125px;*/
/*    padding-right: 20px;*/
/*}*/

/*.who_we_text {*/
/*    width: 100%;*/
/*    padding-left: 60px;*/
/*    margin-top: 10px;*/
/*    font-size: 25px;*/
/*}*/

/*.img_who_we_title {*/
/*    width: 100%;*/
/*}*/

/*.img_planet {*/
/*    width: 100%;*/
/*    margin-top: -100px;*/
/*    margin-right: -65px;*/
/*}*/

/*.who_we_slogan {*/
/*    margin-top: -100px;*/
/*}*/

/*.who_we_slogan_block {*/
/*    text-align: center;*/
/*    width: 100%;*/
/*}*/

/*.img_frane {*/
/*    margin: 0 auto;*/
/*    width: 50%;*/
/*    !*padding-bottom: 50px;*!*/
/*}*/

/*p.slogan_text {*/
/*    font-size: 26px;*/
/*    margin-top: -27%;*/
/*}*/

/*.who_we_table_block {*/
/*    padding-top: 50px;*/
/*    background-image: url(images/gradient.png);*/
/*    background-size: 100%;*/
/*    padding-bottom: 50px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*}*/

/*.img_table {*/
/*    margin: 70px 0 0 80px;*/
/*    width: 90%;*/
/*}*/

/*.table_text {*/
/*    margin: 0 auto;*/
/*    width: 75%;*/
/*    text-align: center;*/
/*    font-family: Helion_text;*/
/*    font-size: 17px;*/
/*    margin-top: -245px;*/
/*}*/

/*.table_btn_play {*/
/*    margin: 0 auto;*/
/*    width: 24%;*/
/*    height: 40px;*/
/*    border: 0;*/
/*    margin-top: 37px;*/
/*}*/

/*.table_btn_play:hover {*/
/*    transform: scale(1.02);*/
/*    transition-duration: 20ms;*/
/*    cursor: pointer;*/
/*}*/

/*.gif_man {*/
/*    width: 75px;*/
/*    height: 75px;*/
/*    margin-left: 80px;*/
/*    margin-top: -47px;*/
/*}*/

/*.gif_pointer {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    margin-left: 58vw;*/
/*    margin-top: -50px;*/
/*}*/

/*!*--------------------------------------*!*/

/*.img_line {*/
/*    width: 100%;*/
/*    height: 25px;*/
/*}*/


/*.products_page {*/
/*    background-image: url(images/back.png);*/
/*    background-size: 100%;*/
/*    padding-bottom: 100px;*/
/*    !*height: 140vh;*!*/
/*}*/


/*.products_blocks {*/
/*    margin: 25px 50px 0 50px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*}*/

/*.products_block_logo {*/
/*    width: 30%;*/
/*    text-align: center;*/
/*}*/

/*.img_tv_2 {*/
/*    width: 200px;*/
/*}*/

/*.products_block_text {*/
/*    font-size: 20px;*/
/*    width: 70%;*/
/*}*/

/*.product_title {*/
/*    margin-top: 25px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*}*/

/*.product_title_text {*/
/*    width: 55%;*/
/*    text-align: left;*/
/*}*/

/*.img_prod {*/
/*    width: 80%;*/
/*}*/

/*.product_title_images {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    bottom: 0;*/
/*    width: 25%;*/
/*}*/

/*.img_cir {*/
/*    width: 80%;*/
/*    height: 50%;*/
/*}*/

/*.quiz_block {*/
/*    margin-top: 25px;*/
/*    padding: 0 50px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*}*/

/*.quiz_photo {*/
/*    width: 25%;*/
/*}*/

/*.img_quiz_logo {*/
/*    width: 93%;*/
/*}*/

/*.quiz_text {*/
/*    width: 65%;*/
/*}*/

/*.quiz_text_title {*/
/*    !*text-transform: uppercase;*!*/
/*    font-family: Helion;*/
/*    font-size: 30px;*/
/*}*/

/*.quiz_text_text {*/
/*    font-size: 19px;*/
/*    font-family: Helion_text;*/
/*}*/

/*.quiz_text_btns {*/
/*    margin-top: 30px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/

/*.aps_btn, .gp_btn {*/
/*    width: 45%;*/
/*    height: 50px;*/
/*    border: 0;*/
/*}*/

/*.aps_btn:hover, .gp_btn:hover {*/
/*    cursor: pointer;*/
/*    transform: scale(1.03);*/
/*    transition-duration: 1s;*/
/*}*/

/*.img_circles {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    height: 200px;*/
/*    margin-right: -25px;*/
/*    margin-top: -100px;*/
/*    margin-bottom: 100px;*/
/*}*/

/*.kontrnastup_block {*/
/*    padding: 0 75px;*/
/*    margin-top: 25px;*/
/*}*/

/*.kontrnastup_text {*/
/*    width: 100%;*/
/*}*/

/*.kontr_text_title {*/
/*    font-size: 30px;*/
/*    font-family: Helion;*/
/*}*/

/*.kontr_text_text {*/
/*    font-family: Helion_text;*/
/*    width: 100%;*/
/*    font-size: 19px;*/
/*}*/

/*.kontrnastup_photo {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/*.img_kontr {*/
/*    width: 70%;*/
/*}*/

/*.sky_line {*/
/*    width: 100%;*/
/*}*/

/*.img_sky_line {*/
/*    margin-top: -60px;*/
/*    width: 100%;*/
/*    height: 75px;*/
/*}*/

/*.our_lab {*/
/*    background-image: url(images/back.png);*/
/*    background-size: 100%;*/
/*    padding-bottom: 80px;*/
/*}*/

/*.our_lab_block {*/
/*    width: 90%;*/
/*    padding-top: 75px;*/
/*    padding-left: 50px;*/
/*}*/

/*.our_lab_img {*/
/*    width: 65%;*/
/*}*/

/*.lab_text {*/
/*    margin-left: 13px;*/
/*    width: 90%;*/
/*    font-size: 19px;*/
/*    font-family: Helion_text;*/
/*}*/

/*.lab_subtext {*/
/*    width: 90%;*/
/*    margin-left: 13px;*/
/*    margin-top: 20px;*/
/*    font-size: 19px;*/
/*    font-family: Helion;*/
/*    text-transform: uppercase;*/
/*}*/

/*.tables_block {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/*.img_wind_pc {*/
/*    margin-top: -75px;*/
/*    width: 100%;*/
/*}*/

/*.footer_img {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/*.img_cletka {*/
/*    width: 100%;*/
/*    margin-top: -100px;*/
/*}*/

/*.footer_text {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    margin-top: -80px;*/
/*    padding-left: 150px;*/
/*    font-size: 19px;*/
/*    font-family: Helion_text;*/
/*}*/

/*.footer_text_adress {*/
/*    width: 30%;*/
/*}*/

/*.footer_text_prop {*/
/*    margin-left: 50px;*/
/*    width: 70%;*/
/*}*/


@font-face {
    font-family: "Helion";
    src: url(fonts/heliosext-bold.otf);
}

@font-face {
    font-family: "Helion_text";
    src: url(fonts/heliosext.otf);
}

